// START:: SASS VARIABLES
$mainColor: #21496C;
$secondryColor: #9B7C29;
$textColor: #f2f2f2;
$darkColor: #212121;
$bestSellerCourse: #16c79a;
$saleCourse: #ff4646;
$sectionPadding: 60px 0 0 0;
// END:: SASS VARIABLES 

// START:: SASS MIXINS
@mixin boxSizing() {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin transitioning() {
  -moz-transition: all 0.45s ease-in-out;
  -webkit-transition: all 0.45s ease-in-out;
  -o-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}

@mixin scaleAndRotate( $s, $r ) {
  -moz-transform: scale($s) rotate($r);
  -webkit-transform: scale($s) rotate($r);
  -o-transform: scale($s) rotate($r);
  transform: scale($s) rotate($r);
}

@mixin borderRadius($br) {
  -moz-border-radius: $br;
  -webkit-border-radius: $br;
  -o-border-radius: $br;
  border-radius: $br;
}
// END:: SASS MIXINS 