// START:: INCLUDING GLOBALS FILE
@import "./globals/globals";
// END:: INCLUDING GLOBALS FILE

// START:: INCLUDING CAIRO FONT
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700&display=swap');
// END:: INCLUDING CAIRO FONT

* {
  @include boxSizing();
  font-family: 'Cairo', sans-serif;

  .sec-header {
    display: inline-block;
    color: $mainColor;
    margin-bottom: 25px;
    padding: 15px;
    position: relative;
    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 30px;
      height: 30px;
      border-top: 2px solid $mainColor;
      border-left: 2px solid $mainColor;
    }
    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      right: 0;
      width: 30px;
      height: 30px;
      border-bottom: 2px solid $mainColor;
      border-right: 2px solid $mainColor;
    }
  }
}

body {
  height: 300vh;
}